 <p>
  <strong>Người bình luận:</strong>
  <%= review.commenter %>
</p>

<p>
  <strong>Nội dung:</strong>
  <%= review.body %>
</p>
<% if current_user.try(:admin?) %>
<p>
  <%= link_to 'Xóa bình luận', [review.product, review],
  method: :delete,
  data: { confirm: 'Bạn có chắc không?' } %>
</p>
<% end %>
